/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--ifm-background-color);
}

.hero__title {
  color: '#FFF';
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroCircle {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.heroCircleBg {
  position: absolute;
  mix-blend-mode: overlay;
  transform: translate(-35%, -60%);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}

.buttons a {
  border-radius: 20rem !important;
}
